@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root {
    // Colors
    --primary-clr1: #19a2ae;
    --primary-clr2: #2d3248;
    --primary-clr3: #6a6f81;
    --neutral-clr1: #969696;
    // Font Size
    --fs1: Rem(18);
    // Font Family
    --ff1: 'Kumbh Sans', sans-serif;
    // Font Weight
    --fw1: 400;
    --fw2: 700;
}
