// Pages/general
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body {
    @include fullScreen;
    background: var(--primary-clr1);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--fs1);
    font-family: var(--ff1);
    line-height: 1em;
    color: var(--primary-clr2);

    img.bg-body {
        @include fullScreen;
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        &.bg-top {
            transform: translate(-35%, -50%);
        }
        &.bg-bottom {
            transform: translate(35%, 50%);
        }
    }
}